svg{
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
}
.twitter-icon-group, .twitter-outline, .twitter-icon{
  transition:300ms all;
  transform-origin: 50% 50%;
}
.twitter-icon-group:hover{
  .twitter-outline{
    transform: scale(0);
  }
  .twitter-icon{
    stroke:#4099ff;
 transform: scale(1.5);
    fill:url(#grad);
    /* nestaje -> opacity:0;*/
  }
}